<div class="bg-gray-200 h-full px-4">
  <div class="py-14">
    <h1 class="mb-20 text-3xl font-serif text-center">wabota でタスクをパーフェクトに管理</h1>
    <div class="sm:flex sm:justify-end sm:space-x-2 space-y-2 sm:space-y-0 text-white text-center">
      <div class="rounded-md bg-blue-700"><%= link_to 'ログイン', new_user_session_path, class: "block px-3 py-2 text-lg" %></div>
      <div class="rounded-md bg-blue-700"><%= link_to 'アカウント登録', new_user_registration_path, class: "block px-3 py-2 text-lg" %></div>
    </div>
  </div>
</div>
