<div class="px-6">
  <div class="pt-4">
    <p>ボード</p>
    <div class="p-3 rounded bg-gray-300">
      <ul class="flex overflow-x-auto space-x-4">
        <% @boards.each do |board| %>
          <li class="h-24 min-w-[15rem] p-2 rounded-md border border-green-600 bg-green-400"><%= link_to board.name, board %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="pt-4">
    <p>ワークスペース</p>
    <div class="p-3 rounded bg-gray-300">
      <ul class="flex overflow-x-auto space-x-4">
        <% @workspaces.each do |workspace| %>
          <li class="h-24 min-w-[15rem] p-2 rounded-md border border-green-600 bg-green-400"><%= link_to workspace.name, workspace %></li>
        <% end %>
      </ul>
    </div>
    <p><%= link_to "ワークスペース招待一覧", workspace_join_request_index_path %></p>
    <p><%= link_to "ワークスペースを作成", new_workspace_path %></p>
  </div>
</div>
