<h1>Workspaces#show</h1>
<p>ワークスペース名：<%= @workspace.name %></p>
<%= link_to "ワークスペース削除", @workspace, method: :delete %>

<% @boards.each do |board| %>
  <p><%= link_to board.name, board %></p>
<% end %>
<%= link_to "ボード追加", new_workspace_boards_path(@workspace) %>
