<div class="container mx-auto">
  <div class="my-8">
    <h2 class="text-3xl text-center font-bold">所属ボード一覧</h2>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
    <% @boards.each do |board| %>
      <div class="col-span-1 h-24 rounded-md border border-gray-600 shadow-md shadow-gray-400" style="background-color: <%= board.color%>;">
        <%= link_to board, class: "group block h-full p-2" do %>
          <p class="font-bold text-white group-hover:underline"><%= board.name %></p>
          <p class="text-sm"><%= board.workspace.name %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
