<h1>Boards#show</h1>
<p>ボード名：<%= @board.name %></p>

<% if @board.task_lists.exists? %>
  <ul>
    <% @board.task_lists.each do |task_list| %>
      <li><%= task_list.name %>
        <% if task_list.tasks.exists? %>
          <ul>
            <% task_list.tasks.each do |task| %>
              <li><%= task.title %></li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
<p>リスト作成</p>

<%= link_to "削除", @board, method: :delete %>
