@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* ヘッダー関連 */
  .header-li {
    @apply py-2 rounded hover:bg-gray-700;
  }

  /* 入力関連 */
  .field_with_errors {
    @apply text-red-500;
  }

  .field_with_errors input {
    @apply border-red-500 bg-red-100;
  }

  /* メニューボタン */
  .menu-btn {
    @apply justify-center fixed flex h-16 w-16 top-0 right-0 z-20 items-center;
  }

  .menu-btn span {
    @apply menu-btn-item before:menu-btn-item after:menu-btn-item
            before:bottom-2 after:top-2
            group-open:bg-transparent
            group-open:before:duration-500 group-open:before:rotate-45 group-open:before:bottom-0
            group-open:after:duration-500 group-open:after:-rotate-45 group-open:after:top-0;
  }

  .menu-btn-item {
    @apply absolute block h-1 w-6 bg-white rounded-sm;
  }

  .menu-content {
    @apply fixed w-60 h-full top-0 -right-64 z-10 bg-gray-600 opacity-90
            duration-500
            group-open:right-0;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  .menu-content ul {
    @apply mt-24 px-3;
  }

  .menu-content ul li {
    border-bottom: solid 1px #ffffff;
  }

  .menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    padding: 9px 15px 10px 0;
    position: relative;
  }

  .menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    transition: all 0.5s;
    position: absolute;
    right: 11px;
    top: 16px;
  }

  .line-link {
    @apply underline hover:font-bold text-base hover:text-lg
  }

  /* .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  } */
}
